<!--Block with a form to add a new application to the DB-->
<div th:fragment="new-app" class="container mt-5 mb-5">
    <h3>You can add new application ...</h3>
    <form method="post" th:object="${application}" class="form">
        <div class="form-floating">
            <input th:unless="${#fields.hasErrors('applicationName')}" class="form-control" type="text"
                   th:field="*{applicationName}" name="applicationName" id="applicationName"
                   placeholder="Application name">
            <label th:unless="${#fields.hasErrors('applicationName')}" for="applicationName">Application Name</label>
            <input th:if="${#fields.hasErrors('applicationName')}" class="form-control is-invalid" type="text"
                   th:field="*{applicationName}" name="applicationName" id="applicationName"
                   placeholder="Application name">
            <label th:if="${#fields.hasErrors('applicationName')}" th:errors="*{applicationName}"
                   for="applicationName"></label>
            <br>
        </div>
        <div class="form-floating">
            <input th:unless="${#fields.hasErrors('host')}" class="form-control" type="text" th:field="*{host}"
                   name="host" id="host" placeholder="For example: 192.168.0.1">
            <label th:unless="${#fields.hasErrors('host')}" for="host">IP</label>
            <input th:if="${#fields.hasErrors('host')}" class="form-control is-invalid" type="text" th:field="*{host}"
                   name="host" id="host" placeholder="For example: 192.168.0.1">
            <label th:if="${#fields.hasErrors('host')}" th:errors="*{host}" for="host"></label>
            <br>
        </div>
        <div class="form-floating">
            <input th:unless="${#fields.hasErrors('port')}" class="form-control" type="text" th:field="*{port}"
                   name="port" id="port">
            <label th:unless="${#fields.hasErrors('port')}" for="port">Port</label>
            <input th:if="${#fields.hasErrors('port')}" class="form-control is-invalid" type="text" th:field="*{port}"
                   name="port" id="port">
            <label th:if="${#fields.hasErrors('port')}" th:errors="*{port}" for="port"></label>
            <br>
        </div>
        <button type="submit" class="btn btn-outline-success">Add new application</button>
    </form>
</div>